body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: blue;
}
#main {
    width: 100%;
    min-height: 547px;
}
.div1{
    width: 50%;
    min-height: 547px;
    float: left;
}
.div2{
    width:50%;
    min-height: 547px;
    float: right;
    background-image: url(../img/gg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}