body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
    background-color:#251F45 ;
    color: white;
}
#main {
    width:100% ;
    min-height: 560px;

}
#header {
width: 100%;
min-height: 100px;
color: white;





}
#header h2 {
    display: inline-block;
    float: left;
    margin: 0;
    margin-left: 30px;


}
#header > a{
    color: white;
    text-decoration: none;
 margin-top: 10px;
 float: right;
 margin-right: 20px;
}
#header button {
background-color: orange;
border-radius: 40px;
padding: 5px;
box-sizing: border-box;
float: right;
margin-right: 10px;
margin-top: 5px;

}

button a {
    color: white;
    text-decoration: none;
 float: right;
}
#center {
    width: 100%;
}
#div1 {
    width: 40%;
    min-height: 560px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
#div2 {
    width: 60%;
    min-height: 560px;
    float: right;
    background-color:firebrick;
}
#div1 button {
    background-color: orange;
    border-radius: 40px;
    padding: 5px;
    box-sizing: border-box;
    
}